body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 30px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

a {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

button {
    width: 80%;
    max-width: 300px;
    padding: 15px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    background: #1DB954;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}

/* Вторая кнопка (Google Drive) */
a:last-of-type button {
    background: #4285F4;
    color: white;
}
